<html>
<head>
<title><code>Home: Celia Gould</code></title>
<style>
header {
  position: fixed;
  background-color: gray;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
}
nav {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: blue;
}
nav li {
  display: inline;
}
section {
  float: left;
  width: 20%;
  height: 500px;
  background-color: green;
  color: white;
}
aside {
  float: left;
  width: 80%;
  height: 500px;
  background color: purple;
}
footer {
  clear: both;
  background-color: gray;
}
body {
  background-color: orange;
  margin: 0px;
}
</style>
</head>
