#title {
  text-align: center;
  font-size: 30pt;
  margin-bottom: 20px;
}
#boxsect {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10pt;
  width: 500px;
  height: 300px;
  background-color: #9999CC;
  overflow: auto;
}
#entersect {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 23px;
  background-color: #9999CC;
}
#ullist {
  list-style: none;
}
#rli {
  color: #FF3300;
}
#bli {
  color: #3333CC;
}
#yli {
  color: #FFCC33;
}
.done {
  color: white;
  text-decoration: line-through;
}
