    .high {
    background-color: red;
    color: white;
    }
    .medium {
    background-color: orange;
    color: brown;
    }
    .low {
    background-color: gray;
    color: black;
    }
    .done {
    background-color: black;
    text-decoration: line-through;
    color: cyan;
    }
    

