    .high {
      color: white;
    }
    .medium {
      color: brown;
    }
    .low {
      color: black;
    }
    .done {
      color: cyan;
    }
    #D1 {
      text-decoration: line-through;
    }
    #D2 {
      text-decoration: line-through;
    }
    #D3 {
      text-decoration: line-through;
    }
